body{
    background-color:#ccc;
}

blockquote{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #000;

}

blockquote .text{
    font-style: italic;
}

blockquote:hover{

    background-color: #000;
    color: #fff;
}

blockquote{

     cursor: pointer;
}

blockquote *{

    pointer-events: none;
}

.character{
    width: 18rem;
    background-color: #fff;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
}

.character img{

    width: 100%;
}

.character .text{
    padding: 1rem;
}

